/*网页背景渐变*/

html {
    height: 100%;
}

body {
    height: 100%;
    background-image: -webkit-linear-gradient(330deg, #fdfbfb 0%, #ebedee 100%);
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}


/*网页头部和菜单栏*/

header {
    position: relative;
}

.menu {
    position: absolute;
    top: 35px;
    right: 25px;
    width: 40px;
    height: 20px;
    cursor: pointer;
}

.menu span, .menu::after, .menu::before {
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    content: "";
    width: 40px;
    height: 1px;
    background-color: #999;
    cursor: pointer;
}

.menu::before {
    margin-top: -10px;
}

.menu::after {
    margin-top: 10px;
    -webkit-transition: width .4s ease-in;
    transition: width .4s ease-in;
}

.menu span {
    -webkit-transition: width .4s ease-in;
    transition: width .4s ease-in;
}

.menu:hover::before {
    background-color: #cb1b45;
}

.menu:hover span {
    width: 30px;
    background-color: #cb1b45;
}

.menu:hover::after {
    width: 20px;
    background-color: #cb1b45;
}


/*网页主体*/


/*网页主体的介绍部分*/

main {
    padding-top: 100px;
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 0 0 auto;
}

.container::after {
    content: "";
    display: block;
    height: 0px;
    clear: both;
    line-height: 0;
    visibility: hidden;
}

.text-content {
    float: left;
    box-sizing: border-box;
    width: 50%;
    padding: 60px;
}

.title-content {
    font-size: 23px;
    font-weight: 500;
    font-family: NSimSun;
    color: #000;
    margin-bottom: 80px;
    cursor: pointer;
}

.small-font {
    display: block;
    color: #999;
    font-family: Microsoft YaHei;
    font-weight: 300;
    font-size: 14px;
    word-spacing: 7px;
    letter-spacing: 2px;
    margin-top: 5px;
}

.contact-content {
    font-size: 14px;
    font-family: Songti SC;
    font-weight: 300;
    line-height: 15px;
    color: #999;
}

.title-content::after {
    float: left;
    content: "";
    margin-top: 5px;
    display: block;
    height: 2px;
    width: 0;
    background-color: #999;
    -webkit-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;
}

.title-content:hover::after {
    background-color: #119ef5;
    width: 60%;
}

.img-content {
    position: relative;
    float: right;
    width: 400px;
    height: 260px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: right;
    border-radius: 5px 0 0 5px;
}

.imgs-list {
    position: absolute;
    width: 2000px;
    height: 260px;
}

.imgs {
    float: left;
    width: 400px;
    height: 260px;
}


/*网页主体的主要部分*/

.main-content {
    margin-top: 80px;
    height: 250px;
    width: 100%;
}

.main-content::after {
    content: "";
    display: block;
    height: 0px;
    clear: both;
    line-height: 0;
    visibility: hidden;
}

.list {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.list::after {
    content: "";
    display: block;
    height: 0px;
    clear: both;
    line-height: 0;
    visibility: hidden;
}

.li-list {
    float: left;
    width: 20%;
    overflow: hidden;
    height: 250px;
}

.list-href {
    display: block;
    position: relative;
    text-align: center;
}

.bg {
    display: block;
    max-width: 100%;
    opacity: .5;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}

.bg:hover {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.ft {
    display: block;
    position: absolute;
    max-width: 100%;
}


/*网页底部*/

footer {
    margin-top: 15px;
    width: 100%;
}

footer::after {
    content: "";
    display: block;
    height: 0px;
    clear: both;
    line-height: 0;
    visibility: hidden;
}

.icon {
    display: inline-block;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5%;
    cursor: pointer;
}

.fa {
    color: #999;
    padding-right: 8px;
    -webkit-transition: color .5s ease-in;
    transition: color .5s ease-in;
}

.fa:hover {
    color: #119ef5;
}

.view {
    font-size: 14px;
    color: #999;
}

.copyright {
    display: inline-block;
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    margin-right: 1%;
    font-size: 14px;
    color: #999;
}


}
